<form
    class="form-signin"
    [formGroup]="form"
    (ngSubmit)="onCalulateSequence()"
>
    <div class="container">
        <div class="form">
            <input
                required
                type="number"
                name="index"
                formControlName="index"
            >

            <button type="submit">Calcular</button>
        </div>

        <div class="result">
            <span>Sequência:</span>
            <br>
            <span>{{ sequence }}</span>
        </div>
    </div>
</form>
